# OS
.DS_Store/
thumbs.db
time-travel.*

# IDE
.vscode/
.vs/
.idea/
*.iml

# Node
node_modules/

# Rust / VMZ / WASM
dist/
target/
Cargo.lock
projects/crates/fractal-wasm/pkg-node/
projects/crates/fractal-wasm/pkg-web/
projects/packages/fractal-*/lib/
projects/packages/homepage/public/wasm/
projects/packages/*/node_modules/
